@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background: linear-gradient(to right, rgb(71, 71, 71) , rgb(156, 156, 185));
  color: #36393b;
  font-family: 'Poppins', sans-serif;;
}